@font-face {
    font-family: 'All-Round-Gothic';
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-bold.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-boldoblique.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-book.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-xlig.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-bookoblique.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-demi.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-demioblique.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-lig.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-ligoblique.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-medium.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-mediumoblique.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-semi.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-semioblique.otf);
    src: url(./assets/fonts/Fontspring-DEMO-allroundgothic-text.otf);
}

:root {
    --font-family: 'All-Round-Gothic';
}

body {
    font-family: 'All-Round-Gothic' 'Segoe UI', sans-serif !important;
    background: #f1dff8;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.hero-section {
    background-color: #000000;
    height: 805px;
    background-image: url(./assets/img/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.earth-logo img {
    width: 80px;
    height: 55px;
}

.nav-link {
    color: #ffffff !important;
    font-size: 16px;
    margin-right: 2 0px;
}

#earth-nav {
    margin-top: 2rem;
}

.btn {
    width: 164px;
    height: 51px;
    border-radius: 35.73px;
    background: #7230FF;
}

.btn-white {
    width: 164px;
    height: 51px;
    border-radius: 35.73px;
    background: #ffffff;
    border: none;
}

#register {
    margin-left: 9rem;
}

.btn-white a {
  text-decoration: none;
  color: #7230FF;
}

.btn a {
    text-decoration: none;
    color: #ffffff; 
}

.main-heading {
    margin-top: 5rem;
    font-family: 'All-Round-Gothic';
    font-weight: lighter;
    font-size: 68px;
    line-height: 80px;
    text-align: center;
    color: #ffffff;
}

.testimonials {
    margin-top: 14rem;
}

.cta img {
    width: 254.53px;
    height: 139.89px;
}

.testimony img {
    width: 417px;
    height: 173px;
}

.other-sections {
    background-color: #000000;
    height: 525px;
}

.boost-your-business {
    padding-top: 12rem;
}

.img-2 {
    width: 530px;
    height: 604px;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.content-2 {
    margin-left: 3.5rem;
}

.content-2 p {
    line-height: 45px;
}

.content-1 h2 {
    margin-bottom: 4rem;
    font-family: 'All-Round-Gothic';
    font-weight: 700;
    font-size: 48px;
    color: #7230FF;
}

.img-1 {
    width: 603px;
    height: 656px;
    border-radius: 10px;
}

.earth-benefits {
    margin-top: 6rem;
}

.card-info {
    background: #ffffff;
    box-shadow: 0px 4px 37px 0px #00000008;
    width: 604px;
    height: 142px;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 20px;
}

.easy-reg {
    margin-left: 20px;
}

.card-info h6 {
    color: #7230FF;
    font-weight: 500;
}

#start-paying, #read-doc, #meet-partners, #get-started {
    width: 251px;
}

.benefits {
    background-image: url(/assets/img/earth-2.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-y: bottom;
}

.benefits h2 {
    margin-top: 9rem;
    font-family: 'All-Round-Gothic';
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 4rem;
}

.benefits span, .get-started span {
    color: #7230FF;
}

.developers {
    height: 632px;
    background: #080E47;
    margin-top: 4rem;
}

.developer-1 {
    margin-top: 12rem;
}

.developer-2 {
    margin-top: 9rem;
}

.developer-1 h2, .developer-1 p {
    margin-bottom: 2rem;
}

.developer-1 span {
    color: #7230FF;
}

.developer-1 h2 {
    font-size: 48px;
    font-family: 'All-Round-Gothic';
    font-weight: bolder;
}

.developer-2 img {
    width: 374px;
    height: 375px;
    margin-left: 8rem;
}

.our-partners h2 {
    margin-top: 5rem;
    font-family: 'All-Round-Gothic';
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 1rem;
}

.partners {
    border: 1px solid #555555;
    padding: 2rem;
    width: 70%;
}

.partners:nth-child(2) {
    background: #000000;
}

.partners:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.partners:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.partners img {
    width: 80px;
    height: 55px;
}

.agency {
    margin-top: 12rem;
    background-image: url(/assets/img/digital-agency.png);
    background-size: cover;
    width: 80%; 
    padding: 2rem;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

.agency h2 {
    font-size: 48px;
    font-family: "All-Round-Gothic";
    font-weight: bolder;
    color: #ffffff;
}

.text-heading {
    margin-bottom: 6rem;
}

.text-heading p, .testimonials-content h2 {
    font-size: 47px;
    font-family: "All-Round-Gothic";
    text-align: center;
}

.testimonials-content h2 {
    font-weight: bolder;
    margin-bottom: 4rem;
}

.testimonials-content h2 span {
    color: #7230FF;
}

.testimonials-text {
    width: 378px;
    height: 378px;
    background: #0011ED;
    color: #ffffff;
    border-top-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    /* border-radius: 20px, 40px, 20px, 0px; */
    padding: 40px;
}

.earth-scroll {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
}

.earth-scroll-view {
    flex: 0 0 auto !important;
    margin-right: 3px !important;
}

::-webkit-scrollbar {
    display: none !important;
}

/* .digital {
    margin-top: 12rem;
    background-image: url(/assets/img/earth-2.png);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position-x: right;
    background-position: 100% 50%; 
} */

.vertical {
    border-left: 6px solid #7230FF;
    height: 400px;
    position: relative;
    left: 50%;
}

.get-started {
    margin-bottom: 12rem;
}

.get-started img {
    width: 531px;
    height: 391px;
}

.get-started h2 {
    margin-top: 8rem;
    font-family: 'All-Round-Gothic';
    font-weight: bolder;
    font-size: 48px;
    font-family: ;
}

.get-started-steps, .step-img {
    margin-top: 1rem;
}

.step {
    margin-bottom: 2rem;
}

.footer {
    background-color: #000000;
    height: 600px;
    margin-top: 14rem;
}

.footer-content {
    padding-top: 5rem;
}

.footer-content h2 {
    color: #7230FF;
    text-align: center;
    font-size: 48px;
    margin-bottom: 3rem;
    font-family: var(--font-family);
}

.footer-content h2 span {
    color: #ffffff;
}

hr {
    margin-top: 8rem;
    color: #ffffff;
}

.list .nav-item {
    list-style-type: none;
}

.spacing {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.socials {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}